---
import type { PluginPageTypeEditorProps } from 'studiocms/types';

interface Props extends PluginPageTypeEditorProps {}

const { content } = Astro.props;
---
<div class="editor-container">
    <textarea id="page-content" name="page-content">{content}</textarea>
</div>