SITE_URL=http://localhost:4321
CMS_LIBSQL_URL=file:local.db
LIBSQL_URL=file:local.db
CMS_ENCRYPTION_KEY=
CMS_GITHUB_CLIENT_ID=
CMS_GITHUB_CLIENT_SECRET=
CMS_GITHUB_REDIRECT_URI=http://localhost:4322/studiocms_api/auth/github/callback
CMS_GOOGLE_CLIENT_ID=
CMS_GOOGLE_CLIENT_SECRET=
CMS_GOOGLE_REDIRECT_URI=http://localhost:4322/studiocms_api/auth/google/callback
CMS_SITE_URL=http://localhost:4322
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
