---
import { Image } from 'astro:assets'

interface Props {
  coverImage: string
  title: string
}

const { coverImage, title } = Astro.props
---

<div class="border-border mt-8 overflow-hidden rounded-xl border">
  <Image
    src={coverImage}
    alt={title}
    class="h-auto w-full object-cover"
    width="1200"
    height="630"
    layout="constrained"
    sizes="(max-width: 768px) 100vw, 60vw"
    fetchpriority="high"
    loading="eager"
    decoding="sync"
  />
</div>
