---

---

<div id="search-filters" class="search-filters" hidden>
  <select id="search-category-filter" class="input search-filter-select">
    <option value="">All Categories</option>
  </select>
  <select id="search-tag-filter" class="input search-filter-select">
    <option value="">All Tags</option>
  </select>
</div>
