---
import PostNavLink from './PostNavLink.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  prevPost?: CollectionEntry<'posts'>
  nextPost?: CollectionEntry<'posts'>
}

const { prevPost, nextPost } = Astro.props
---

<nav class="mt-8 grid gap-4 md:grid-cols-2" aria-label="Post navigation">
  {prevPost && <PostNavLink post={prevPost} direction="prev" />}
  {nextPost && <PostNavLink post={nextPost} direction="next" />}
</nav>
